{{!yield}}
{{filterValue}}
<thead>
<tr>
    <th>Status</th>
    <th>Shipment id</th>
    <th>Shipment Date</th>
    <th>Shipped To</th>
    <th>Received</th>
</tr>
</thead>
<tbody>
{{#each sortedItems as |item|}}
    <tr>
        <td class="status">
            {{item.currentStatus.code}}
        </td>
        <td class="reference">
            {{item.shippingReferenceId}}
        </td>
        <td class="date">
            {{format-date item.shipDate 'DD / MM / YYYY'}}
        </td>
        <td class="addressee">
            {{item.receivingAddress.addressee}}
        </td>
        <td class="date">
            {{format-date item.receivedDate 'DD / MM / YYYY'}}
        </td>
    </tr>
{{/each}}
</tbody>
